[Unit]
Description=Random script execution
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/home/opvscode/server.sh
ExecReload=/home/opvscode/server.sh

[Install]
WantedBy=multi-user.target